@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.5s linear;
  scrollbar-width: none;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  display:flex;
  flex-direction:column;
}

.cameraBody{
  margin:auto;
  overflow:hidden;
  width: 300px;
  height: 350px;
  box-shadow: 0px 0px 35px #e5e5e5;
  background-color: #231f20;
  place-self:center;
  border-radius: 50px;
  border-width: 10px;
  border-style:solid;
  border-color: #343434;
  display:grid;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}

#lens{
  z-index:3;
  position:absolute;
  height: 100px;
  width: 100px;
  border-style: solid;
  border-radius: 50%;
  border-width: 10px;
  place-self:center;
  transform: translateY(-50px) translateY(15px);
  border-color: #363f4b;
  box-shadow: 0 0 15px;
  display:flex;
  overflow:hidden;
}
video{
  background-color: black;
  height: 85px;
  width: 85px;
  place-self:center;
  margin:auto;
  border-radius: 50%;
  transform: scale(1.5);
}

button#power{
  place-self:center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color:rgb(243,90,90);
  box-shadow: 0 0 10px black , 1 1 10px white inset ;
  border-style: none;
  display:grid;
}
.sensor{
  transform:translateY(30px);
  place-self:center;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: black;
  place-self:center;
}

.sensorCategory{
  position:relative;
  left: 20px;
  top:25px;
  height: fit-content;
  width: fit-content;
  display:flex;
  gap: 15px;
}

.led{
  place-self:center;
  height: 25%;
  width: 25%;
  border-radius: 50%;
  background-color: white;
  display:block;
}

button#capture{
  outline:none;
  place-self:center;
  height: 50px;
  width: 60px;
  padding: 5px;
  line-height: 15px;
  font-family: 'caveat';
  font-size: small;
  text-transform: capitalize;
  border-radius: 10px;
  border: none;
  margin-left: 100px;
  background-color: transparent;
  color: #757575;
  box-shadow: 2px 2px 5px #000000, -2px -2px 5px #303030; 
}

.printer{
  z-index: 3;
  background-color: #363f4b;
  position:relative;
  top: 100px;
  width: 300px;
  height: 100px;
  transform:translate(-10px);
  display:grid;
}

hr{
  width: 200px;
  height: 10px;
  border-width: 5px;
  border-color:black;
  margin:auto;
  border-style:solid;
  border-radius: 5px;
}

.band{
  height: 110px;
  width: 99px;
  background-color: #252a31;
  position:absolute;
  z-index: 2;
  top: 300px;
  display:flex;
  gap: 20px;
  place-self:center;
}

button{
  cursor:pointer;
}


.paper{
  overflow:hidden;
  position:absolute;
  max-height: 350px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 0 50px  #d7d7d7;
  place-self:center;
  top: 300px;
  z-index:-1;
  max-height: 350px;
}

.paper img{
  width: 180px;
  position:relative;
  left: 10px;
  margin-top:15px;
}

p#timeStamp{
  text-align:center;
  font-family: cursive;
  font-family: 'caveat';
}
.buttons{
  width: 250px;
  height: 100px;
  display:none;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 32px 50px;
  gap:30px;
  margin:auto;
  position:relative;
  top: 600px;
  transform: translateY(-50px);
}
.buttons button{
  border-style:none;
  border-radius: 50px;
  font-size: 12px;
  text-transform:capitalize;
}

.buttons button#retake{
  font-family: 'inter';
  background-color: #f1f1f1;
}

.buttons button#download{
  font-family: 'inter';
  background-color: #222222;
  color: white;
}

.space{
  height: 100px;
}